.grid {
   display: flex;
   flex-wrap: wrap;
   margin-top: -30px;
   margin-left: -30px;
}

.grid__item {
   margin-top: 30px;
   margin-left: 30px;
   
   &--2col {
   flex-basis: calc((100% - 180px) / 6);
   }

   &--3col {
   flex-basis: calc((100% - 120px) / 4);
   }

   &--4col {
   flex-basis: calc((100% - 90px) / 3);
   }

   &--6col {
   flex-basis: calc((100% - 60px) / 2);
   }
}